<%= form_with(model: session_detail, local: true) do |form| %>
  <% if session_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session_detail.errors.count, "error") %> prohibited this session_detail from being saved:</h2>

      <ul>
      <% session_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field d-none">
    <%= form.label :session_id %>
    <%= form.text_area :session_id, id: :session_detail_session_id %>
  </div>
  <div class="field">
    <%= form.label :txt1,"Título" %>
    <%= form.text_area :txt1, id: :session_detail_txt1 %>
  </div>

  <div class="field">
    <%= form.label :txt2,"Descripción" %>
    <%= form.text_area :txt2, id: :session_detail_txt2 %>
  </div>

  <div class="field tixlist">
    <%= form.label :txt3,"Contenido" %>
    <%= form.trix_editor :txt3, id: :session_detail_txt3 %>
  </div>

   <center>
  <div class="actions">
    <%= form.submit  id:'btnSave', :class => 'btn btn-warning', :value => "Guardar cambios" %>
  </div></center>
<% end %>
