<p id="notice"><%= notice %></p>

<h1 class="pink-text text-lighten-1">
  <%= @session_detail.txt1 %>
</h1>

<h4 class="teal-text text-darken-3">
  <%= @session_detail.txt2 %>
</h4>

<h6>
  <%= @session_detail.txt3 %>
</h6>

<%= link_to 'Editar', edit_session_detail_path(@session_detail) %> |
<%= link_to 'Regresar', session_details_path %>
