<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description,'Descripción' %>
    <%= form.text_field :description, id: :quiz_description %>
  </div>

  <div class="field">
  <label> 
    <%= form.label :approved %>
    <%= form.check_box :approved, id: :quiz_approved %>
    <span><%= form.label :approved, 'Aprobado' %></span>
  </label> 
  </div>

  <div class="field"> 
  <label>   
   <%= form.label :avaible %> 
   <%= form.check_box :avaible,include_hidden: false, id: :quiz_avaible %>    
   <span><%= form.label :avaible, 'Disponible' %></span>
  </label>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
