<p id="notice"><%= notice %></p>

<h1>Cuestionarios</h1>
<!--
<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Aprobado</th>
      <th>Disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.description %></td>
        <td><%= quiz.approved %></td>
        <td><%= quiz.avaible %></td>
        <td><%= link_to 'Mostrar', quiz %></td>
        <td><%= link_to 'Editar', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Eliminar', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->
<% if @quizzes.size == 0 %>
<h4 class="grey-text">Aún no tiene examenes</h4>
<%end%>
<ul class="collection">
   <% @quizzes.each do |quiz| %>
      <li class="collection-item avatar">
      <img src="/icons/test.png" alt="" class="circle">
        <h6><%= quiz.description %></h6>
        <p><%= quiz.approved %></p>
        <p><%= quiz.avaible %></p>
        <p><%= link_to 'Mostrar', quiz, :onclick => "goandrefresh()"%>
        <%if current_user.rol == "t"%>|
        <%= link_to 'Editar', edit_quiz_path(quiz) %>
        |<%= link_to 'Eliminar', quiz, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></p>
      </li>
    <% end %>
  </ul>

<br>


