<p id="notice"><%= notice %></p>
<div class="row card">
<div class="col-md-8">
<div id="TempId" style="display:none"><%=  $quizid %></div>
<h3 class="class="pink-text text-lighten-1">
 #<%= @quiz.id %>: <%= @quiz.description %>
</h3>
</div>
<div class="col-md-4">
<h6 class="teal-text text-darken-3">
  Approved<%= @quiz.approved %>
</h6>

<h6 class="teal-text text-darken-3">
  Avaible: <%= @quiz.avaible %>
</h6>
</div>
</div>
<div class="row">
<div class="col-md-6 card" id="addquestions" >
      <h4>Agregar pregunta</h4>
      <div class="pull-right row" style='display:inline-block;'>
        <a id="btnAddQuestionField" onclick="addQuestionField()" class="col-md-10 btn-floating btn-large  waves-effect waves-light pink"><i class="material-icons">add</i></a>
        <a id="btnSaveQuestionsAndOptions" onclick="saveQuestionsAndOptions()" style='display:inline-block;margin-left:10px;align-content: right;' class="btn-floating  waves-effect btn-large waves-light green"><i class="material-icons">save</i></a>
       </div>
      <!--<%= render 'questions/form', question: @question %>-->
</div>
<div class="col-md-6 card">
<h5>Preguntas</h5><ol class="collection">
   <% @questions.each do |q| %>
   <!--<a href="/questions/" class="collection-item" id=q.id >Articles</a>-->
   <li><%= link_to q.description, class: 'collection-item',controller: "questions", action: "show", id: q.id %></li> <ul class="collection">
    <% @question_options.each do |qp| %>
   <!--<a href="/questions/" class="collection-item" id=q.id >Articles</a>-->
   <% if q.id == qp.question_id %>
   <li><%= link_to qp.description, class: 'collection-item',controller: "question_options", action: "show", id: qp.id %><%end%></li>
   <%end%></ul>
   <%end%></ol>
</div>
</div
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
