
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
<div class="row">
 <div class="col-md-8"><h1> <%= @session.name%></h1></div>
        <div class="col-md-2">
        <div class="card yellow lighten-1">
            <div class="card-content black-text">
             <b> Precio: <%= @session.price%></b>
            </div>
        </div>
        </div>
         <div class="col-md-2">
        <div class="card green accent-1">
            <div class="card-content black-text">
             <b> Completado</b>
            </div>
        </div>
        </div>
</div>
 <% @details.each do |d| %>
<div class="row">
        <div class="col s12 m6">
          <div class="card  cyan darken-4">
            <div class="card-content white-text">
              <span class="card-title"><%= d.txt1%></span>
              <p><%= d.txt2%> </p>
            </div>            
            <div class="card-action">
              <%= link_to "Ver", controller: "session_details", action: "show", id: d.id  %>
              <a href="#">Ir a los ejercicios</a>
            </div>
          </div>
        </div>
      </div>
<%end %>

