<%= form_with(model: amethod, local: true, remote: true) do |form| %>
  <% if amethod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amethod.errors.count, "error") %> prohibited this amethod from being saved:</h2>

      <ul>
      <% amethod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :amethod_name %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :amethod_subject %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :amethod_description %>
  </div>

  <div class="field">
    <%= form.label :description_subject %>
    <%= form.text_field :description_subject, id: :amethod_description_subject %>
  </div>
  <select id="people" name="people"><option value="1" selected="selected">David</option></select>
  <div class="field">
    <%= form.label :skills %>
    <%= form.text_field :skills, id: :amethod_skills %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

