<p id="notice"><%= notice %></p>

<h1>Amethods</h1>
<%= link_to 'New Amethod', new_amethod_path, id: "new_link" %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Description subject</th>
      <th>Skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amethods.each do |amethod| %>
      <tr>
        <td><%= amethod.name %></td>
        <td><%= amethod.subject %></td>
        <td><%= amethod.description %></td>
        <td><%= amethod.description_subject %></td>
        <td><%= amethod.skills %></td>
        <td><%= link_to 'Show', amethod %></td>
        <td><%= link_to 'Edit', edit_amethod_path(amethod) %></td>
        <td><%= link_to 'Destroy', amethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-6">
<%= render 'session_details/form', session_detail: @session_detail %>
  </div>
   <div class="col-md-6">
<%= render 'session_details/index', session_details: @session_details %>
  </div>
</div>
<br>


