<%= form_with(model: consultation, local: true) do |form| %>
  <% if consultation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

      <ul>
      <% consultation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field" style="display: none;">
    <%= form.label :session_id,'Id' %>
    <%= form.text_area :session_id, id: :consultation_links_sid %>
  </div>
  <div class="field" id="flinked" style="display: none;">
    <%= form.label :links,'Enlace' %>
    <%= form.text_area :links, id: :consultation_links %>
  </div>

  <div class="field" id="fbooks" style="display: none;">
    <%= form.label :books ,'Libro' %>
    <%= form.text_area :books, id: :consultation_books %>
  </div>

  <div class="field" id="freference" style="display: none;">
    <%= form.label :references, 'Enlace (multimedia)' %>
    <%= form.text_area :references, id: :consultation_references %>
  </div>
<br>
    <center>
  <div class="actions">
    <%= form.submit  id:'btnSave', :class => 'btn btn-warning', :value => "Guardar cambios" %>
  </div></center>
<% end %>
