<p id="notice"><%= notice %></p>

<h1>Documentos</h1>
<div class="row">
  <div class="col-4">
    <h4 class="teal-text text-darken-1">Enlaces</h4>
       <%if @links.count == 0 %>
       <h4 class="grey-text">____</h4>
       <%end%>
       <% @links.each do |l| %>
        <div class="card-stacked">
         <div class="card-content" style="display: inline-block;">
         <img src="/icons/bookmark.png" width="40px" height="40px">
           <span><b><%= link_to l.links, l.links %></b></span>
         </div>
         <div class="card-action">
              <%= link_to 'Editar', edit_consultation_path(l),:onclick=>"goandrefresh3()" %>
                <a href="#"><%= link_to 'Eliminar', l, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></a>
           </div>
       </div>
       <%end%>
  </div>
     <div class="col-4">
    <h4 class="blue-text text-darken-3">Libros</h4>
       <%if @books.count == 0 %>
       <h4 class="grey-text">____</h4>
       <%end%>
       <% @books.each do |l| %>
        <div class="card-stacked">
         <div class="card-content" style="display: inline-block;">
         <img src="/icons/ebook.png" width="40px" height="40px">
           <span><b><%= link_to l.books, l.books %></b></span>
         </div>
         <div class="card-action">
                <%= link_to 'Editar', edit_consultation_path(l),:onclick=>"goandrefresh3()" %>
                <a href="#"><%= link_to 'Eliminar', l, method: :delete, data: { confirm: '¿Está seguro(a)?' } %></a>
           </div>
       </div>
       <%end%>
  </div>
    <div class="col-4">
    <center><h4 class="lime-text text-darken-1">Referencias</h4>
       <%if @consultations.count == 0 %>
       <h4 class="grey-text">____</h4>
       <%end%>
       <% @consultations.each do |consultation| %>
       <div class="card">
         
       </div>
       <%end%>
    </center>
  </div>
</div>


<br>
