<p id="notice"><%= notice %></p>

<h1>Documentos</h1>
<%= link_to 'Nuevo documento', new_consultation_path,:class => 'btn yellow btn-warning' %>
<div class="row">
  <div class="col-3">
    <center><h4 class="teal-text text-darken-1">Enlaces</h4>
       <%if @consultations.count == 0 %>
       <h4 class="grey-text">____</h4>
       <%end%>
       <% @consultations.each do |consultation| %>
       <div class="card">
         
       </div>
       <%end%>
    </center>
  </div>
    <div class="col-4">
    <center><h4 class="red-text text-darken-1">Libros</h4>
       <%if @consultations.count == 0 %>
       <h4 class="grey-text">____</h4>
       <%end%>
       <% @consultations.each do |consultation| %>
       <div class="card">
         
       </div>
       <%end%>
    </center>
  </div>
    <div class="col-4">
    <center><h4 class="lime-text text-darken-1">Referencias</h4>
       <%if @consultations.count == 0 %>
       <h4 class="grey-text">____</h4>
       <%end%>
       <% @consultations.each do |consultation| %>
       <div class="card">
         
       </div>
       <%end%>
    </center>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Links</th>
      <th>Books</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <td><%= consultation.links %></td>
        <td><%= consultation.books %></td>
        <td><%= consultation.references %></td>
        <td><%= link_to 'Show', consultation %></td>
        <td><%= link_to 'Edit', edit_consultation_path(consultation) %></td>
        <td><%= link_to 'Destroy', consultation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
