<%= form_with(model: user_teacher, local: true) do |form| %>
  <% if user_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_teacher.errors.count, "error") %> prohibited this user_teacher from being saved:</h2>

      <ul>
      <% user_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <center><div id="avatarn"> </div></center>
 <div class="field" style="display: none;">
    <%= form.label :id %>
    <%= form.text_field :id, id: :ut_id %>
  </div>
 <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ut_name %>
  </div>
 <div class="field">
    <%= form.label :lastnames %>
    <%= form.text_field :lastnames, id: :ut_lname %>
  </div>
   <div class="field">
    <%= form.label :control_number %>
    <%= form.text_field :control_number, id: :cn_name %>
  </div>
  <br>
  <center>
  <div class="actions">
    <%= form.submit  id:'btnSave', :class => 'btn btn-warning', :value => "Guardar cambios" %>
  </div></center>
<% end %>
        <script>
            
        var iconSelect;

        window.onload = function(){     
            iconSelect = new IconSelect("avatarn", 
                {'selectedIconWidth':48,
                'selectedIconHeight':48,
                'selectedBoxPadding':1,
                'iconsWidth':50,
                'iconsHeight':50,
                'boxIconSpace':1,
                'vectoralIconNumber':4,
                'horizontalIconNumber':4});

            var icons = [];
            icons.push({'iconFilePath':'/avatar_teacher/052-man.png', 'iconValue':"/avatar_teacher/052-man.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman.png', 'iconValue':"/avatar_teacher/052-woman.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-1.png', 'iconValue':"/avatar_teacher/052-man-1.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-1.png', 'iconValue':"/avatar_teacher/052-woman-1.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-2.png', 'iconValue':'/avatar_teacher/052-man-2.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-2.png', 'iconValue':"/avatar_teacher/052-woman-2.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-3.png', 'iconValue':'/avatar_teacher/052-man-3.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-3.png', 'iconValue':"/avatar_teacher/052-woman-3.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-4.png', 'iconValue':'/avatar_teacher/052-man-4.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-4.png', 'iconValue':"/avatar_teacher/052-woman-4.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-5.png', 'iconValue':'/avatar_teacher/052-man-5.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-5.png', 'iconValue':"/avatar_teacher/052-woman-5.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-6.png', 'iconValue':'/avatar_teacher/052-man-6.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-6.png', 'iconValue':"/avatar_teacher/052-woman-6.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-7.png', 'iconValue':'/avatar_teacher/052-man-7.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-7.png', 'iconValue':"/avatar_teacher/052-woman-7.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-8.png', 'iconValue':'/avatar_teacher/052-man-8.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-8.png', 'iconValue':"/avatar_teacher/052-woman-8.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-9.png', 'iconValue':'/avatar_teacher/052-man-9.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-9.png', 'iconValue':"/avatar_teacher/052-woman-9.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-10.png', 'iconValue':'/avatar_teacher/052-man-10.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-10.png', 'iconValue':"/avatar_teacher/052-woman-10.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-11.png', 'iconValue':'/avatar_teacher/052-man-11.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-11.png', 'iconValue':"/avatar_teacher/052-woman-11.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-12.png', 'iconValue':'/avatar_teacher/052-man-12.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-12.png', 'iconValue':"/avatar_teacher/052-woman-12.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-13.png', 'iconValue':'/avatar_teacher/052-man-13.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-13.png', 'iconValue':"/avatar_teacher/052-woman-13.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-14.png', 'iconValue':'/avatar_teacher/052-man-14.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-14.png', 'iconValue':"/avatar_teacher/052-woman-14.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-15.png', 'iconValue':'/avatar_teacher/052-man-15.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-15.png', 'iconValue':"/avatar_teacher/052-woman-15.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-16.png', 'iconValue':'/avatar_teacher/052-man-16.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-16.png', 'iconValue':"/avatar_teacher/052-woman-16.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-17.png', 'iconValue':'/avatar_teacher/052-man-17.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-17.png', 'iconValue':"/avatar_teacher/052-woman-17.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-18.png', 'iconValue':'/avatar_teacher/052-man-18.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-18.png', 'iconValue':"/avatar_teacher/052-woman-18.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-19.png', 'iconValue':'/avatar_teacher/052-man-19.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-19.png', 'iconValue':"/avatar_teacher/052-woman-19.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-20.png', 'iconValue':'/avatar_teacher/052-man-20.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-20.png', 'iconValue':"/avatar_teacher/052-woman-20.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-21.png', 'iconValue':'/avatar_teacher/052-man-21.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-21.png', 'iconValue':"/avatar_teacher/052-woman-21.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-22.png', 'iconValue':'/avatar_teacher/052-man-22.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-22.png', 'iconValue':"/avatar_teacher/052-woman-22.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-23.png', 'iconValue':'/avatar_teacher/052-man-23.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-23.png', 'iconValue':"/avatar_teacher/052-woman-23.png"});
            icons.push({'iconFilePath':'/avatar_teacher/052-man-24.png', 'iconValue':'/avatar_teacher/052-man-24.png'});
            icons.push({'iconFilePath':'/avatar_teacher/052-woman-25.png', 'iconValue':"/avatar_teacher/052-woman-25.png"});
            iconSelect.refresh(icons);
            var mypicdiv1 = $('img').attr('src');
            var myid = "/user_teachers/" + $('input#ut_id').val() + "/";
            $('div#avatarn div.selected-icon img').prop('src',mypicdiv1);
            $("#btnSave").click(function(){
              var myurl = "/" +
              document.URL.substring(document.URL.indexOf('user_teacher'),document.URL.indexOf('edit'));
              var mypic = $('div#avatarn').find('img').prop('src');
              console.log("my ul: " +myurl);
              console.log("my pic: " + mypic);
                  $.ajax({
                    url: myid,
                    type: 'PUT',
                    contentType: 'application/json',
                    dataType: "script",
                    data: JSON.stringify({
                      user_teacher: { 
                      avatarn: mypic,
                      commit: "Update Picture"
                      },_method:'put'}),
                    successs: function(r){
                      //alert(this.value + '..Guardado');
                    }, error: function(error) {
                  //alert(error);
                  }                      
                });
            });

        };
        $(document).ready(function(){
          
        });
        </script>
