<p id="notice"><%= notice %></p>
<p><%= @user_teacher.id %></p>
<p><%= @user_teacher.names %></p>

<%= link_to 'Edit', edit_user_teacher_path(@user_teacher) %> |
<%= link_to 'Back', user_teachers_path %>
