<div class="row">
	<div class="col-12 pink lighten-4 card"><center><h2>Mi usuario</h2></center></div>
</div>
<div class="row">
<div class=" col-12 col-md-4 card"><center>
  <h4 class="pink-text text-lighten-1">Mi usuario</h4>
  <%= image_tag(@myuser.avatarn, :alt => "rss feed",:width => "120px") %>
  <h4><%= @myuser.name%> <%= @myuser.lastnames%> <a href="#modalusr" class=" modal-trigger whitened"> <i class="small material-icons lime-text text-darken-2">edit</i></a> </h4>
  <h5 class="title">#<%= @myuser.control_number%></h5>
  <p>Carrera:<%= current_user.carrer%></p>
  
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
</div></center>
<div class=" col-12 col-md-3 card">
<center>
<%if current_user.rol == "t"%>
   <h4 class="teal-text text-lighten-1">Mi escuela  <button href="#modalschool" class=" modal-trigger btn-floating waves-effect waves-light whitened yellow"> <i class="small material-icons lime-text text-darken-2">edit</i></button></h4>
<%else%>
    <h4 class="teal-text text-lighten-1">Escuela</h4>
<%end%>
<%if @myschool%>
<h4><%= @myschool.name%></h4>
<h6>Código: <%= @myschool.code%></h6>
<h6>Teléfono: <%= @myschool.phone%></h6>
<h6>Página web: <%= @myschool.web_page%></h6>
<%else%>
<h4 class="grey-text text-darken-2">No tiene ninguna escuela</h4>
<a href="/schools/new" class="amber accent-4 btn btn-large btn-warning"> (+) Agregar escuela</a>
<%end%><br><br>
<a href="/groups/new" class="yellow lighten-2 black-text btn btn-large btn-warning"> (+) Agregar grupo</a></center>
</div>
<div class=" col-12 col-md-5 card">
<center>
<%if current_user.rol == "t"%>
   <h4 class="teal-text text-lighten-1">Mis grupos</h4>
<%else%>
    <h4 class="teal-text text-lighten-1">Mi grupo</h4>
<%end%>
<%if @mygroups%>
<ul class="collapsible">
   <% @mygroups.each do |group| %>
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i><%= group.name %></div>
      <div class="collapsible-body">       
        <p>Descripción: <%= group.description %></p>
        <p>Horario: <%= group.schedule %></p>
        <p>Semestre: <%= group.semester %></p><br>
      <%= link_to 'Mostrar', group %>
      <%= link_to 'Editar', edit_group_path(group) %>
      <%= link_to 'Eliminar', group, method: :delete, data: { confirm: '¿Está seguro(a)?' } %>
      </div>
    </li>
    <%end%>
  </ul>
<%else%>
<h4 class="grey-text text-darken-2">No tiene ningún grupo</h4>
<%end%></center>
</div>
</div>

<div id="modalusr" class="modal">
    <div class="modal-content">
      <h4>Editar mi usuario<i class="small material-icons lime-text text-darken-2">edit</i></h4>
      <%if current_user.rol=='t'%>
      <%= render 'user_teachers/form', user_teacher: @myuser %>
      <%else%>
      Es alumno
      <%end%>
    </div>
    <div class="modal-footer">
     <!-- <a href="" class="modal-action modal-close btn-danger waves-effect waves-green btn-flat">Cancelar</a>-->
    </div>
</div>	

<div id="modalschool" class="modal">
    <div class="modal-content">
      <h4>Editar mi escuela<i class="small material-icons lime-text text-darken-2">edit</i></h4>
      <%if current_user.rol=='t'%>
      <%= render 'schools/form', school: @myschool %>
      <%else%>
      Es alumno
      <%end%>
    </div>
    <div class="modal-footer">
     <!-- <a href="" class="modal-action modal-close btn-danger waves-effect waves-green btn-flat">Cancelar</a>-->
    </div>
</div>  
