<h5>Mi usuario</h5>
<p>Nombre: <%= current_user.names%></p>
<p>#Control: <%= current_user.control_number%></p>
<p>Carrera: <%= current_user.carrer%></p>
<p>Total: <%= current_user.score%></p>
<p>ID: <%= current_user.id%></p>
