<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,'Nombre' %>
    <%= form.text_field :name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :location,'Localización' %>
    <%= form.text_area :location, id: :school_location %>
  </div>

  <div class="field">
    <%= form.label :principal_name ,'Director'%>
    <%= form.text_field :principal_name, id: :school_principal_name %>
  </div>

  <div class="field">
    <%= form.label :typeSchool,'Tipo' %>
    <%= form.text_field :typeSchool, id: :school_type %>
  </div>

  <div class="field">
    <%= form.label :grade,'Grado' %>
    <%= form.text_field :grade, id: :school_grade %>
  </div>

  <div class="field">
    <%= form.label :code,'Código' %>
    <%= form.text_field :code, id: :school_code %>
  </div>

  <div class="field">
    <%= form.label :phone,'Teléfono' %>
    <%= form.text_field :phone, id: :school_phone %>
  </div>

  <div class="field">
    <%= form.label :web_page,'Página web' %>
    <%= form.text_field :web_page, id: :school_web_page %>
  </div>

  <div class="actions">
  <center>
       <%= form.submit  id:'btnSave', :class => 'btn btn-warning', :value => "Guardar cambios" %>
  </center>
  </div>
<% end %>
