<p id="notice"><%= notice %></p>

<h1>Mis resultados</h1>

<table>
  <thead>
    <tr>
      <th>Exámen</th>
      <th>Calificación</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_quizzes.each do |user_quiz| %>
      <tr>
        <td><%= link_to user_quiz.quiz_id, quiz_path(user_quiz.quiz_id)%></td>
        <td><%= user_quiz.score %></td>
        <td><%= link_to 'Mas información', user_quiz %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Quiz', new_user_quiz_path %>
