<p id="notice"><%= notice %></p>
<%= link_to 'Mis resultados', user_quizzes_path %>
<h1>
  <strong>Resultado:</strong>
  <%= @user_quiz.score %>
</h1>
<hr>
<h4>
  <strong>Exámen:</strong>
  <%= @user_quiz.quiz_id %>
  <%= link_to "Ir al exámen", quiz_path(@user_quiz.quiz_id)%>
  <a href="/quizzes/"<%= @user_quiz.quiz_id %>></a>
</h4>

