<p id="notice"><%= notice %></p>
<div class="card red accent-2"><center>
<h1 class="white-text">Ejercicios</h1>
</center></div>


<ul class="collection">
      <li class="collection-item avatar">
      <img src="/ex1.png" alt="" class="circle">
      <h5>Lección #1 - Realizar la tabla inicial del algoritmo.</h5>
      <h6><%= link_to "Comenzar", "/ex1", :onclick => "goandrefresh3()",:class=>"red-text" %></h6>
      </li>
      <li class="collection-item avatar">
      <img src="/ex2.png" alt="" class="circle">
      <h5>Lección #2  - Realizar  el balance en la tabla inicial.</h5>
      <h6><%= link_to "Comenzar", "/ex2", :onclick => "goandrefresh3()",:class=>"red-text"  %></h6>
      </li>
      <li class="collection-item avatar">
      <img src="/ex3.png" alt="" class="circle">
      <h5>Lección #3  - Realizar el balance y ajuste en la tabla inicial.</h5>
      <h6><%= link_to "Comenzar", "/ex3", :onclick => "goandrefresh3()",:class=>"red-text"  %></h6>
      </li>
      <li class="collection-item avatar">
      <img src="/ex4.png" alt="" class="circle">
      <h5>Lección #4  - Asignación con el método AVE.</h5>
      <h6><%= link_to "Comenzar", "/ex4", :onclick => "goandrefresh3()",:class=>"red-text"  %></h6>
      </li>
  </ul>

<br>
  <p>Estos ejercicios están disponibles para todos los usuarios, aportando 20 puntos en caso de ser un ejercicio especial*</p>
