  <% if user_signed_in? %>
<div id="header">
 <!--Navbar-->
 <div class="row">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white;">

    <!-- Navbar brand -->
    <a class="navbar-brand whitened"  onclick="goandrefresh()" href="/">EVA</a>

    <!-- Collapse button -->

      <a id="buttonToggleCollapse" onclick="showmethemagic()" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" onclick="goandrefresh()">Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sessions">Lecciones</a>
            </li>
            <%if current_user.rol == "t"%>
            <li class="nav-item">
                <a class="nav-link" href="/quizzes">Cuestionarios</a>
            </li>

              <li class="nav-item">
                <a class="nav-link" href="/reports" onclick="goandrefresh3()">Reportes</a> 
            </li>
             <%end%>
            <%if current_user.rol=="s"%>
            <li class="nav-item">
                <a class="nav-link" href="/user_quizzes">Mis resultados</a>
            </li>
            <%else%>
            <li class="nav-item">
                <a class="nav-link" href="/gbygroupall">Mis grupos</a>
            </li>
             <%end%>
             <li class="nav-item">
                <a class="nav-link" href="/consultations">Documentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercises">Ejercicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/algoritmo" onclick="goandrefresh3()"><b>Algoritmo</b></a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/myuser" onclick="goandrefresh3()">Mi perfil</a>
            </li>           
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</a>
                <div class="dropdown-menu dropdown-primary mycard" aria-labelledby="navbarDropdownMenuLink">
                    <center><h5 class="red-text text-accent-1">Menu</h5></center>
          <hr>
           <ul>
          <li><a href="/exercises" class="grey-text"><i class="material-icons">apps</i>Ejercicios</a></li>
          <li><a href="/exercises" class="grey-text"><i class="material-icons">border_color</i>Algoritmo</a></li>
          <li><a href="/sessions" class="grey-text"><i class="material-icons">bookmark_border</i>Lecciones</a></li>
          <li><a href="/quizzes" class="grey-text"><i class="material-icons">fitness_center</i>Cuestionarios</a></li>
          <li><a href="/reports" class="grey-text text-darken-1"><i class="material-icons">equalizer</i>Reportes</a></li>
          <li><a href="/exercises" class="grey-text"><i class="material-icons">account_circle</i>Mi cuenta</a></li>
          <li><a href="/exercises" class="grey-text"><i class="material-icons">build</i>Configuracion</a></li>
          <li><a href="/exercises" class="grey-text"><i class="material-icons">movie</i>Material</a></li>
          <li><a href="/exercises" class="grey-text"><i class="material-icons">archive</i>Documentacion</a></li>
          <li><a href="/exercises" class="red-text"><br><br><%= link_to "Salir", destroy_user_session_path, :method => :delete, :class=>"red-text",:style=> "font-size: 20px" %></a></li>
        </ul>
                </div>
            </li>
            <li></li>
        </ul>
        <!-- Links -->

        <form class="form-inline">
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
          <form class="nav-item-form-user">
              <a href="/myuser" onclick="goandrefresh2()"><%= image_tag(@myuser.avatarn, :alt => "rss feed",:width => "40px") %></a>
               <ul class="basicinfo">
                <li><%= link_to "Salir", destroy_user_session_path, :method => :delete, :class=>"red-text text-darken-3" %></li> 
                <li><a href="/myuser" class="grey-text"><%= @myuser.name %></a></li>
                <%if current_user.rol == "s"%>
                <li><a href="/myuser" class="grey-text"> <%= current_user.score %></a></li><%end%>     
                </ul>
            </form>
    </div>
    <!-- Collapsible content -->
    <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>

</nav>
<!--/.Navbar-->
</div>
  
           <%else%>      
                <div class="signup-login">
                <a href="/">Inicio </a>
                    <a href="/users/sign_in">Ingresar</a>
                    <a href="/users/sign_up">Registrarse</a>                                    
                </div>
         
        <%end%>
<!--
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-faded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="        navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="/"><img src="/AVElogob.png" id="mainlogo" width="80px" height="75px"></a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 item-list" >    
            <li>

            <div id="datosusr" class="text-muted">
              <span class="user "><span id="lblUsuario" data-lang="lblUsuario">Usuario</span>:
              <span >
                <%= current_user.email %>
              </span>
              </span>          
            </div>
       
           </li>          
            </ul>
            <form class="form-inline my-2 my-lg-0">
                  <form>
                   <div class="input-field">
                     <input id="mainsearch" type="search"  class="autocomplete" required> 
                     <label class="label-icon" for="autocomplete-input"><i class="material-icons" id="search-icon">search</i></label>
                     <i class="material-icons">close</i>
                   </div>
                     <a class="btn-floating waves-effect waves-light red circle-small"><i class="material-icons icon-small">search</i></a>
                   </form>
                <%else%>                
                <div class="signup-login">
                    <a href="/users/sign_in">Ingresar</a>
                    <a href="/users/sign_up">Registrarse</a>                                    
                </div>
              <% end %>
            </form>
          </div>
       </nav>
</div> -->

<br>
<% if user_signed_in? %>
  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
      <li class="waves-effect waves-light"><a href="/sessions"><i class="material-icons">book</i> Lecciones</a></li>
      <li class="waves-effect waves-light"><a href="/quizzes"><i class="material-icons">border_color</i>Ejercicios</a></li>
      <li class="waves-effect waves-light"><a href="/algorithms"><i class="material-icons">widgets</i>Algoritmo</a></li>
      <li class="waves-effect waves-light"><a href="/user_students"><i class="material-icons">tap_and_play</i>Contactos</a></li>
      <li class="waves-effect waves-light"><a href="/session_details"><i class="material-icons">note</i>Archivos</a></li>
    </ul>
  </div>
<%end%>


         
<!--
<div id="mainNav" aria-expanded="false" class="collapse" style="height: 0px;">
  <a href="/algorithms" target="_self"><b>Algoritmos</b></a>
  <a href="/amethods" target="_self"><b>Métodos</b></a>
  <a href="/groups" target="_self"><b>Grupos</b></a>
  <a href="/quizzes" target="_self"><b>Cuestionarios</b></a>
  <a href="/schools" target="_self"><b>Escuela</b></a>
  <a href="/session_details" target="_self"><b>Detalles de la lección</b></a>
  <a href="/sessions" target="_self"><b>Lecciones</b></a>
  <a href="/user_students" target="_self"><b>Alumnos</b></a>
  <a href="/user_teachers" target="_self"><b>Maestros</b></a>
  <a type="button" rel="nofollow" data-method="delete" href="/users/sign_out"><b>SALIR</b></a>
</div>
-->
