  <% if user_signed_in? %>
<div id="header">
 <nav class="nav-extended navbar-light bg-light bg-faded">
    <div class="nav-wrapper navbar">
      <a href="#" class="brand-logo"><a href="/" onclick="goandrefresh()"><img src="/AVElogob.png" id="mainlogo" width="80px" height="75px"></a></a>
      <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->

      <div class="row" id="nav-mobile">
      <div class="col-md-1">
      <a href="/"  class="brand-logo right"><i class="medium material-icons red-text text-accent-1">notifications</i></a></div>
      <!-- <div class="col-md-1">
     <a href="" onmouseover="showmenu()" onmouseleave="hidemenu()" id="submenu_link" class="brand-logo right"><i class="medium material-icons red-text">more_vert</i></a></div>-->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span></a>
        <div class="dropdown-menu mycard" style="">
          <center><h5 class="red-text text-accent-1">Menu</h5></center>
          <hr>
           <ul>
          <li><a href="/exercises"><i class="material-icons">apps</i>Ejercicios</a></li>
          <li><a href="/exercises"><i class="material-icons">border_color</i>Algoritmo</a></li>
          <li><a href="/exercises"><i class="material-icons">bookmark_border</i>Lecciones</a></li>
          <li><a href="/quizzes"><i class="material-icons">fitness_center</i>Cuestionarios</a></li>
          <li><a href="/exercises"><i class="material-icons">equalizer</i>Reportes</a></li>
          <li><a href="/exercises"><i class="material-icons">account_circle</i>Mi cuenta</a></li>
          <li><a href="/exercises"><i class="material-icons">build</i>Configuracion</a></li>
          <li><a href="/exercises"><i class="material-icons">movie</i>Material</a></li>
          <li><a href="/exercises"><i class="material-icons">archive</i>Documentacion</a></li>
          <li><a href="/exercises"><i class="material-icons">archive</i><%= link_to "Salir", destroy_user_session_path, :method => :delete %></a></li>
        </ul>
        </div>
       
      </li>
      <div class="col-md-2"><a href=""><img src="/profiles/girl.png" width="50px" height="50px" /></a></div>
        <ul class="basicinfo" style="display: inline-grid; margin-left: 20px;">
        <li><a href="/"><%= current_user.name %></a></li>
        <li><a href="/"><%= current_user.control_number %></a></li>
        <li><a href="/"> <%= current_user.score %></a></li>      
        </ul>

      
      </div>


            <!--<ul id="nav-mobile" class="right hide-on-med-and-down">       
              
        <ul style="display: inline-grid;">
        <li><a href="/">Usuario: <%= current_user.names%></a></li>
        <li><a href="/">Usuario: <%= current_user.control_number%></a></li>
        </ul> 
          <li class="blue-text"><a href="/users">Usuarios</a></li>
          <li class="blue-text"><a href="/quizzes">Cuestionarios</a></li>
          <li class="blue-text"><a href="/sessions">Lecciones</a></li>
          <li class="red-text"><b><%= link_to "Salir", destroy_user_session_path, :method => :delete %></b></li>
      </ul>-->
<!-- 
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul> -->
    </div>
  </nav>
  </div>

  <div class="row " id="submenu" style="display: none;" >
    <div class="col-md-4 offset-8 " onmouseover="showmenu()" onmouseleave="hidemenu()">
      <div class="row" id="subsubmenu">
        <div class="col-md-12"><center><h5 class="red-text text-accent-1">Menu</h5></center>
          <hr></div>
          <div class="col-md-6">
            <ul>
            <li><a href="/exercises"><i class="material-icons">apps</i>Ejercicios</a></li>
            <li><a href="/exercises"><i class="material-icons">border_color</i>Algoritmo</a></li>
              <li><a href="/exercises"><i class="material-icons">bookmark_border</i>Lecciones</a></li>
              <li><a href="/exercises"><i class="material-icons">fitness_center</i>Cuestionarios</a></li>
              <li><a href="/exercises"><i class="material-icons">equalizer</i>Reportes</a></li>
          </ul>
          </div>
           <div class="col-md-6">
            <ul>
            <li><a href="/exercises"><i class="material-icons">account_circle</i>Mi cuenta</a></li>
            <li><a href="/exercises"><i class="material-icons">build</i>Configuracion</a></li>
            <li><a href="/exercises"><i class="material-icons">movie</i>Material</a></li>
             <li><a href="/exercises"><i class="material-icons">archive</i>Documentacion</a></li>
            <li class="red-text"><b><i class="material-icons">keyboard_tab</i><%= link_to "Salir", destroy_user_session_path, :method => :delete %></b></li>
          </ul>
          </div>
        </div>
    </div>
  </div>
  
           <%else%>      
                <div class="signup-login">
                <a href="/">Inicio </a>
                    <a href="/users/sign_in">Ingresar</a>
                    <a href="/users/sign_up">Registrarse</a>                                    
                </div>
         
        <%end%>
<!--
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-faded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="        navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="/"><img src="/AVElogob.png" id="mainlogo" width="80px" height="75px"></a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 item-list" >    
            <li>

            <div id="datosusr" class="text-muted">
              <span class="user "><span id="lblUsuario" data-lang="lblUsuario">Usuario</span>:
              <span >
                <%= current_user.email %>
              </span>
              </span>          
            </div>
       
           </li>          
            </ul>
            <form class="form-inline my-2 my-lg-0">
                  <form>
                   <div class="input-field">
                     <input id="mainsearch" type="search"  class="autocomplete" required> 
                     <label class="label-icon" for="autocomplete-input"><i class="material-icons" id="search-icon">search</i></label>
                     <i class="material-icons">close</i>
                   </div>
                     <a class="btn-floating waves-effect waves-light red circle-small"><i class="material-icons icon-small">search</i></a>
                   </form>
                <%else%>                
                <div class="signup-login">
                    <a href="/users/sign_in">Ingresar</a>
                    <a href="/users/sign_up">Registrarse</a>                                    
                </div>
              <% end %>
            </form>
          </div>
       </nav>
</div> -->

<br>
<% if user_signed_in? %>
  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
      <li class="waves-effect waves-light"><a href="/sessions"><i class="material-icons">book</i> Lecciones</a></li>
      <li class="waves-effect waves-light"><a href="/quizzes"><i class="material-icons">border_color</i>Ejercicios</a></li>
      <li class="waves-effect waves-light"><a href="/algorithms"><i class="material-icons">widgets</i>Algoritmo</a></li>
      <li class="waves-effect waves-light"><a href="/user_students"><i class="material-icons">tap_and_play</i>Contactos</a></li>
      <li class="waves-effect waves-light"><a href="/session_details"><i class="material-icons">note</i>Archivos</a></li>
    </ul>
  </div>
<%end%>


         
<!--
<div id="mainNav" aria-expanded="false" class="collapse" style="height: 0px;">
  <a href="/algorithms" target="_self"><b>Algoritmos</b></a>
  <a href="/amethods" target="_self"><b>Métodos</b></a>
  <a href="/groups" target="_self"><b>Grupos</b></a>
  <a href="/quizzes" target="_self"><b>Cuestionarios</b></a>
  <a href="/schools" target="_self"><b>Escuela</b></a>
  <a href="/session_details" target="_self"><b>Detalles de la lección</b></a>
  <a href="/sessions" target="_self"><b>Lecciones</b></a>
  <a href="/user_students" target="_self"><b>Alumnos</b></a>
  <a href="/user_teachers" target="_self"><b>Maestros</b></a>
  <a type="button" rel="nofollow" data-method="delete" href="/users/sign_out"><b>SALIR</b></a>
</div>
-->
